h1, h2 {
	text-align: center;
}

#container {
	height: 400px;
	text-align: center;
	border: 2px solid black;
	margin-left: 20%;
	margin-right: 20%;
}

#journalParagraph {
	margin-left: 30px;
	margin-right: 30px;
	text-align: justify;
}

#inputContainer {
	margin-top: 50px;
}