.super-mario {
    width: 200px;
    position: absolute;
    top: 120px
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 400px;
    left: 80px;
  }
  
  .baloon {
    position: absolute;
    left: 200px;
    top: 110px;
    z-index: 1;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    top: 150px;
    left: 220px;
    z-index: 2;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    left: 500px;
    top: 190px;
  }