.headers {
    color:red;
}

.header-italic {
    font-size: 40px;
    border: 1px solid black;
}

li {
    font-size: 20px;
}

li em {
    font-weight: bold;
}

ol {
    background-color: yellow;
}

ol li:nth-of-type(even) {
    color: green;
}

ol li:nth-of-type(odd) {
    text-transform: uppercase;
}

.links:hover {
    font-weight: bold;
}

.stack-over-flow:hover {
    color: orange;
}

.w3-schools:hover {
    color: green;
}

.mdn-web-docs:hover {
    color: black;
}

.dev-docs:hover {
    color: yellow;
}

.trybe:hover {
    color: green;
}